/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.upload-section {
    margin-top: 10px;
}

.table-basic {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
}

#loading-bar-spinner {
    top: 63px;
}

.analysis-actions {
    margin-bottom: 10px;
}

.stop-duration {
    margin-right: 10px;
}
.info-margin {
    margin-right: 14px;
}

.success-alert-margin {
    margin: 10px -2px;
}

.extract-stops {
    margin-bottom: 15px;
}

.graph-margin {
    margin-bottom: 30px;
}

.container-wide {
    width: 100%;
}

.buttons-group {
    margin: 20px 0px;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    padding: 15px;
}

.multiselect-area {
    height: 400px;
    overflow-x: auto;
}

.tab-margin {
    margin-top: 50px;
}

.button-in-row {
    margin-right: 10px;
}

.header-margin {
    margin-bottom: 30px;
}

.sub-header-margin {
    margin-bottom: 20px;
}

.angular-leaflet-map svg{
    width: initial;
    height: initial;
}

.list-fmt {
    list-style: none;
    margin-left: -41px;
}

ul li{
    display: inline-block;
}

.color-bullets {
    width: 14px;
    height: 14px;
    padding-left:14px;
}
.list-text {
    padding-right: 35px;
    margin-top: -5px;
}